.brand-log{
    margin-top: 250px;
    margin-left: 250px;
  }
  .banner{
    background-image: url("../Assets/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: auto;
    margin-top: 55px;
  
  }
  .button-zero{
    border: 2px solid orange;
  }
  .button-zero:hover{
    background-color: rgb(93, 207, 213);
  }
 .p-text{
  color: rgb(143, 139, 139);
 }
 .box-change{
  border: 3px solid orange;
 }
 .change-box{
  margin-top: 20px;
 }
 .btn-change{
  border: 3px solid orange;
  color: orange;
  font-size: 20px;
 }
 .btn-change:hover{
   background-color: orange!important;
 }